# python package artifacts
__pycache__
*.egg-info
dist
build
.pytest_cache

# pytest artifacts
.coverage
**/coverage
htmlcov
/test_model

# sphinx
public/
docs/api


# dev locations
**/.vs/
.vscode/
temp/
local/
scratch/
secrets/
false/
